# Database connections
psycopg2-binary==2.9.9
SQLAlchemy==1.4.54

# Data processing
pandas==1.5.3
numpy==1.24.3

# Storage
minio==7.2.0

# Utilitas
python-dotenv==1.0.0
requests==2.32.3
PyYAML==6.0.2

# Data generation
Faker==22.0.0

# Date handling (needed for ETL processes)
python-dateutil==2.8.2
pytz==2025.2
